.buttonClose{
    margin: 10px;
}

ion-card-content {
    font-style: italic;
}
.btn-update{
    margin-left: 10px; width: 45px;height: 30px;
}
.observation-card{
    // width: 80%;
    margin-bottom: 10px;
    background-color: blueviolet;
    color: white;
}
.title-obseration{
    color: white;
    font-size: small;
}