<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tâches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-interventions-liste 
      *ngIf="interventionsListeActif"
      [interventionListeInput]="interventionListeInput"
      (interventionOutput)="getInterventionOutput($event)"></app-interventions-liste>
      
  <app-interventions-details
      *ngIf="!interventionsListeActif"
      [interventionsDetailsInput]="interventionsDetailsInput"
      (isInterventionDetailClose)="closeInterventionDetail()"></app-interventions-details>

    <app-refesh-get-firebase></app-refesh-get-firebase>

</ion-content>
