ion-fab{
    position: fixed;
}

.item-hover{
    transition: 1s;
}
.item-hover:hover{
    // background-color: blueviolet;
    transition: 1s;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .mobile-display{
        display: none;
    }
  }