<ion-header>
  <ion-toolbar>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form style="margin: 20px; margin-top: 150px;" [formGroup]="this.connectForm" (submit)="onSubmit()">
    
    <div>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-button type="submit" expand="block">Valider</ion-button>
    </div>

    <a (click)="postUtilisateur()">Créer un compte</a>
  </form>

  <app-refesh-get-firebase></app-refesh-get-firebase>

</ion-content>
