table, td, th {
    border: 2px solid rgb(76, 76, 88);
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 60px;
  }
  td, th{
      text-align: center;
      padding: 10px;
  }
  h5{
      margin-left: 20px;
  }