<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <table>
   <tr>
     <th>Intervenant</th>
     <th>Nouveau</th>
     <th>En cours</th>
     <th>Terminé</th>
   </tr>
   <tr *ngFor="let data of interventionParUtilisateur">
     <td>{{ data.utilisateur.libelle }}</td>
     <td class="td-click" (click)="this.viewDetail(data.utilisateur.id, 'Nouveau')">{{ data.totalNouveau }}</td>
     <td class="td-click" (click)="this.viewDetail(data.utilisateur.id, 'En cours')">{{ data.totalEnCours }}</td>
     <td class="td-click" (click)="this.viewDetail(data.utilisateur.id, 'Terminé')">{{ data.totalTermine }}</td>
   </tr>
 </table>
 
 <app-refesh-get-firebase></app-refesh-get-firebase>

</ion-content>
