<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Paramétrages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 20px;">

    <ion-list-header> Firebase </ion-list-header>

    <ion-item (click)="postAllToFirebase()">
      <ion-label>Post all</ion-label>
      <ion-icon slot="end" name="server-outline"></ion-icon>
    </ion-item>

    <ion-item (click)="getAllFromFirebase()">
      <ion-label>Get all</ion-label>
      <ion-icon slot="end" name="server-outline"></ion-icon>
    </ion-item>


  </ion-list>
</ion-content>
